body{
    text-align: center;
}

h1 {
    margin: 0 auto;
}
div {
    background-color: #E4f9f5;
}

.top-container {
background-color: #E4f9f5;

}
.pro {
    text-decoration: underline;
}

.top-cloud{

}
.bottom-cloud {
position: absolute;
}

